/* - - - - - Journal Component - - - - - */
.journal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 75px auto;
  width: 80%;
  max-width: 1000px;
}

.journal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.journal__user {
  display: flex;
  align-items: center;
}

.journal__date {
  color: #96aaa5;
}

.journal__avatar {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
  filter: saturate(0.8);
}

.journal__content {
  width: 100%;
  padding: 30px 10px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.journal__image {
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 2px 4px 7px -1px rgba(72,88,107,0.41);
}

/* - - - - - Emojis - - - - - */
.emoji--joy {
  display: inline;
  max-height: 1.2rem;
  position: relative;
  top: 2px;
}


/* - - - - - Basic Responsiveness - - - - - */
@media only screen and (max-width: 520px) {
  .journal__info {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .journal__user {
    font-size: 0.6rem;
  }
  
  .journal__date {
    font-size: 0.7rem;
    margin-top: 10px;
  }

  .journal__content {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}