@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

/* Imported Style Sheets */
@import url('calendar.css');
@import url('journal.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #545e69;
  height: 100%;
  width: 100%;
  transition: color 1s, background 1.5s;
}

.body--dark {
  color: white;
  background: #141414;
  transition: color 1s, background 1.5s;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 50px 25px;
  text-align: center;
}

h4 {
  margin-bottom: 15px;
}

h5 {
  margin: 25px 0 10px 0;
}

p {
  margin: 15px 0 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-position: inside;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(221, 227, 229, 0.5);
} 

.floating-btn {
  position: fixed;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(230, 247, 255, 0.4);
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background .3s, color .2s;
  color: rgb(189, 209, 219);
}

.floating-btn--totop {
  bottom: 30px;
  right: 30px;
}

.floating-btn--todark {
  bottom: 90px;
  right: 30px;
}

.floating-btn--hover {
  background: rgb(207, 221, 228);
  color: rgb(255, 255, 255);
}

.fas {
  position: relative;
  bottom: 1px;
}


/* - - - - - Special Modifiers - - - - - */

.shadow {
  box-shadow: 0px 2px 15px 0px rgba(171, 183, 183, 0.5);
}

.hidden {
  display: none !important;
}

/* - - - - - Snow Canvas - - - - - */

#snow {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%; 
}




